.headerContainer {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  background-color: #000a3e;
  text-decoration: none;

  img {
    width: 40px;
    height: 40px;
  }

  span {
    color: #ffffff;
    font-weight: bold;
    margin-left: 20px;
  }
}
